@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

[data-popup=tooltip].popup-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.cards-content {
    border: none;
    padding: 0px;

    svg {
        path {
            d: none;
        }
    }
}


.match-content {

    background: #000000;
    border: none;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    color: $white;
    width: 129px;
    text-align: center;
    padding: 12px 0;


    svg {
        path {
            fill: $black;
        }
    }
}

.cardContainer {
    padding: 40px;
    background: $white;
    border-radius: 12px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;

    .close {
        position: absolute;
        top: -13px;
        right: -13px;
        padding: 8px;
        background: #FFFFFF;
        box-shadow: 0px 5px 20px rgba(136, 120, 172, 0.2);
        border-radius: 100px;
        border: none;
    }

    .cardContent {
        display: grid;
        grid-template-columns: 373px 1fr;
        gap: 40px;

        

        .image {

            position: relative;

            .troll-icon {
                position: absolute;
                top: 8px;
                right: 8px;

            }

            .card-image {
                width: 100%;
                border-radius: 12px;

                @include lg {
                    width: 490px;
                }

                @include sm {
                    width: 287px;
                }
            }
        }

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                font-family: $sharpGroteskSemiBoldFont;
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                color: #000000;
            }

            h2 {
                color: rgba(0, 0, 0, 0.4);
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
            }
        }

        .view {
            display: flex;
            align-items: center;
            padding: 11px 0 24px;

            span {
                font-family: $spaceGroteskFont;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                margin-right: 10px;
                color: #000000;
                
                
            }

            a {
                text-decoration: none;
            }
        }

        .pictures {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 16px;

            .item {
                width: 146px;
                height: 84px;
                padding: 12px;
                text-align: center;
                position: relative;

                .itemDescription {
                    >p {
                        &:nth-child(1) {
                            font-family: $spaceGroteskFont;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 10px;
                            color: #000000;
                        }

                        &:nth-child(2) {
                            font-family: $spaceGroteskFont;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 12px;
                            padding: 6px 0;
                            color: #000000;
                        }

                        &:nth-child(3) {
                            font-family: $spaceGroteskFont;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.4);
                        }
                    }
                }

                img {
                    border-radius: 100px;
                    padding: 6px;
                    position: absolute;
                    top: -12px;
                    right: -12px;
                    background: $white;
                }

                @include sm {
                    width: 100%;
                }

            }


            .item1,
            .item4,
            .item7 {

                background: linear-gradient(90deg, rgba(200, 87, 202, 0.1) 50%, rgba(251, 140, 0, 0.03) 50%);
                border-radius: 12px;
                border: 1px solid yellow;

                img {
                    border: 1px solid yellow;
                }
            }

            .item2,
            .item5,
            .item8 {

                background: rgba(30, 136, 229, 0.05);
                border: 1px solid #1E88E5;
                border-radius: 12px;



                img {
                    border: 1px solid #1E88E5;

                }


            }

            .item3,
            .item6,
            .item9 {

                background: rgba(251, 140, 0, 0.05);
                border: 1px solid #FB8C00;
                border-radius: 12px;



                img {
                    border: 1px solid #FB8C00;

                }
            }

            @include lg {
                grid-template-columns: repeat(3, 1fr);
            }

            @include sm {
                grid-template-columns: 1fr;
                justify-content: center;
                text-align: center;
            }
        }

        @include lg {
            grid-template-columns: 1fr;
            grid-template-rows: 490px 1fr;
        }

        @include sm {
            grid-template-rows: 335px 500px;
        }

        
    }

    @include lg {
        bottom: 0;
        min-height: 70%;
        padding: 32px;
        overflow-x: hidden;
    }

    @include sm {
        min-height: 60%;
    }
}